# python environment specific
*.pyc
.idea/*
evaluation/DETECT/.idea/*

# jupyter related
.ipynb_checkpoints/*
evaluation/.ipynb_checkpoints/*
evaluation/__pycache__/*
evaluation/.idea/*

# datasets
evaluation/example_data
evaluation/example_data/*